{% extends 'FrontOfficeTemplate/BaseForntOfficeTemplate.html.twig' %}
{% block Body %}
    <div id="main">
        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Guide d'Orientation Universitaire</h2>
                </div>
                <div class="row content">

                    <div class="col">
                        <table id="Datatable1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>num</th>
                                <th>Specialiter</th>
                                <th>ville</th>
                                <th>University</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for f in filiers %}
                                <tr>
                                    <td>{{ f.id }}</td>
                                    <td>{{ f.FiliereName }}</td>
                                    <td>
                                    {% for u in f.university %}

                                        <ul>
                                            <li>
                                                {{ u.ville }}<hr/>
                                            </li>
                                        </ul>

                                    {% endfor %}
                                    </td>

                                    <td>
                                        {% for u in f.university %}
                                        <ul>
                                            <li>
                                                {{u.UniversityName}}<hr/>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        {% for u in f.university %}
                                        {% endfor %}
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section>
        <!-- End About Us Section -->
    </div>
{% block Script %}

    <script>
        $(function () {
            $("#Datatable1").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "searching":true,
                "info": false,

            }).input().appendTo('#Datatable1_wrapper .col-md-6');
        });
    </script>
    {% endblock %}
{% endblock %}

