{% extends 'dashbord_ctrl/DashbordBase.html.twig' %}
{% block MainBody %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div><!-- /.col -->

                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
    <h1>Edit MetierA</h1>

    {{ include('metier_a/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_metier_a_index') }}">back to list</a>

    {{ include('metier_a/_delete_form.html.twig') }}
 </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
